@media screen and (max-width: 600px) {
  .object-container {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .images-container {
    padding-top: 2rem;
    width: 100%;
  }
}

.objects-container {
  margin: 2rem;
}

ul {
  margin: 0;
}

ul.dashed {
  list-style-type: none;
}

ul.dashed > li {
  text-indent: -5px;
}

ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

.images-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.arrow-link {
  text-decoration: none;
  color: #A9CEEF !important;
  margin: auto;
  size: 8rem;
}

.object-image {
  margin: auto;
  max-height: 50vh;
}

.object-container {
  display: flex;
}

.object-data {
  flex: 1;
  margin: auto;
}

.object-price {
  text-align: center;
}

.order-form-container {
  border: 1px dashed black;
  flex: 0.6;
}
