* {
  background-color: #FFFEEC;
  font-family: 'Krungthep';
  color: #A9CEEF;
}

.App {
  text-align: center;
}

.selected-route {
  color: #A9CEEF !important;
}

.selected-route:after {
  content: "]"
}

.selected-route:before {
  content: "["
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-container {
  flex: 2;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.links-container {
  background-color: white;
  border: 6px solid #A9CEEF;
  display: flex;
}

.nav-link {
  background-color: white;
  text-decoration: none;
  padding-left: 4rem;
  padding-right: 4rem;
}

a {
  text-decoration: none;
}