* {
  background-color: #FFFEEC;
  font-family: 'Krungthep';
  color: #A9CEEF;
}

.App {
  text-align: center;
}

.selected-route {
  color: #A9CEEF !important;
}

.selected-route:after {
  content: "]"
}

.selected-route:before {
  content: "["
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logo-container {
  flex: 2;
  margin: 1rem;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

@media screen and (max-width: 600px) {
  .links-container {
    width: 100%;
    margin: 0;
  }

  .logo-container {
    max-width: 50%;
  }
}

.links-container {
  background-color: white;
  border: 6px solid #A9CEEF;
  display: flex;
  max-width: 100%;
  min-width: 60%;
  font-size: 1.5rem;
  margin: 2rem;
}

.nav-link {
  background-color: white;
  text-decoration: none;
  margin: auto;
}

a {
  text-decoration: none;
}