@font-face {
  font-family: 'Krungthep';
  src: local('./static/fonts/Krungthep.woff2') format('woff2'),
      local('./static/fonts/Krungthep.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@media screen and (min-width: 600px) {
  body {
    max-height: 100vh;
    overflow: auto;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:visited { 
  text-decoration: none;
  color: #29FD2E;
}
